.item-list {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 80px;
    list-style: none;
    margin-left: -20px;
}

.wishlist-items {
    position: relative;
}

.yourwishlist {
    margin-left: 20px;
    margin-bottom: 40px;
}

.empty-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart-icon {
    margin-bottom: 20px;
}

.empty-wishlist p {
    font-size: 20px;
}

.empty-wishlist p span {
    color: black;
    font-weight: bold;
    transition: border-bottom 0.2s;
}

.empty-wishlist p span:hover {
    border-bottom: 2px solid black;
}

.heart-icon {
    color:pink;
    font-size: 200px;
}

.wishlist-remove-icon {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    top: 405px;
    right: 30px;
    cursor: pointer;
}

@media(max-width: 1280px) {

    .wishlist-remove-icon {
        top: 397px;
        right: 10px;
    }

}

@media(max-width: 1024px) {

    .wishlist-remove-icon {
        font-size: 22px;
        top: 335px;
        right: 9px; 
    }
}

@media(max-width:800px) {

    .wishlist-remove-icon {
        font-size: 18px;
        top: 295px;
        right: 8px; 
    }

    .item-list li {
        margin-left: -8px
    }

    .yourwishlist {
        margin-left: 13px;
        margin-bottom: 60px;
        margin-top: 30px;
    }
}
@media(max-width: 500px) {

    .wishlist-remove-icon {
        font-size: 18px;
        top: 260px;
        right: 13px; 
    }

    .item-list {
        margin-top: -20px;
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
    }

    .item-list li {
        margin-left: -5px
    }

    .yourwishlist {
        margin-left: 15px;
        margin-bottom: 60px;
        margin-top: 30px;
        font-size: 27px;
    }
    
    .heart-icon {
        font-size: 150px;
    }

    .empty-wishlist p {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    
    .yourwishlist {
        margin-left: 5px;
    }
    .item-list {
        margin-left: -28px;
        column-gap: 15px;
    }

    .wishlist-remove-icon {
        font-size: 18px;
        top: 260px;
        right: 6px; 
    }

    .heart-icon {
        font-size: 145px;
    }

    .empty-wishlist p {
        font-size: 16px;
    }
}