.item-list {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 80px;
    list-style: none;
    margin-left: -20px;
}

.wishlist-items {
    position: relative;
}

.yourwishlist {
    margin-left: 20px;
    margin-bottom: 40px;
}

.empty-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart-icon {
    margin-bottom: 20px;
}

.empty-wishlist p {
    font-size: 20px;
}

.empty-wishlist p span {
    color: black;
    font-weight: bold;
    transition: border-bottom 0.2s;
}

.empty-wishlist p span:hover {
    border-bottom: 2px solid black;
}

.heart-icon {
    color:pink;
    font-size: 200px;
}

.wishlist-remove-icon {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    top: 405px;
    right: 30px;
    cursor: pointer;
}

@media(max-width: 1280px) {

    .wishlist-remove-icon {
        top: 397px;
        right: 10px;
    }

}

@media(max-width: 1024px) {

    .wishlist-remove-icon {
        font-size: 22px;
        top: 335px;
        right: 9px; 
    }
}

@media(max-width:800px) {

    .wishlist-remove-icon {
        font-size: 20px;
        top: 295px;
        right: 0; 
    }
}
@media(max-width: 500px) {

    .wishlist-remove-icon {
        font-size: 18px;
        top: 260px;
        right: 17px; 
    }

    .item-list {
        margin: -20px;
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
    }

    .yourwishlist {
        margin-left: 30px;
        margin-bottom: 60px;
        margin-top: 30px;
        font-size: 27px;
    }
    
    .heart-icon {
        font-size: 150px;
    }

    .empty-wishlist p {
        font-size: 18px;
    }
}