.modal {
    z-index: 2;
    position: fixed;
    width: 900px;
    height: 650px;
    display: flex;
    background: ivory;
    gap: 50px;
    margin-left: 300px;
    margin-top: -170px;
    animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0);
    }
}


.modal-left {
    flex-basis: 67%;
    position: relative;
}

.modal img {
    width: 100%;
    height: 100%;
}

.modal-right {
    flex-basis: 50%;
    padding-top: 40px;
    padding-bottom: 50px;
}

.modal-right p {
    text-align: center;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}

.modal-right h1,h2 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.tel {
    background: white;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 10px;
    height: 60px;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel input {
    font-size: 25px;
    width: 47%;
    font-family: "Noto Sans", sans-serif;
}

.tel input::placeholder {
    color: black;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
}

.modal-right button {
    background: pink;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}

p.by-submitting {
  font-size: 13px;
  text-align: left;
  margin-bottom: 40px;
}

.by-submitting span {
    font-weight: 800;
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.by-submitting span:hover {
    text-decoration: underline 2px;
}

.no-thanks {
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.no-thanks:hover {
    text-decoration: underline 2px;
}

.close-mark {
    font-size: 25px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.minigold-logo {
    position: absolute;
    top: 560px;
    right: 150px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Lobster", sans-serif;
}

@media (max-width: 1280px) {

    .modal {
        margin-left: 170px;
        margin-top: -100px;
    }
}

@media (max-width:1024px) {

    .modal {
        width: 800px;
        height: 550px;
        margin-left: 160px;
        margin-top: -50px;
    }

    .modal-right h1,h2 {
        font-size: 18px;
    }

    p.by-submitting {
        font-size: 12px;
      }
    

    .minigold-logo {
       position: absolute;
       top: 470px;
       right: 140px;
       font-size: 25px;
       font-weight: 500;
       font-family: "Lobster", sans-serif;
    }

    .modal-right button {
        margin-bottom: 8px;
    }

    .modal-right button p{
        font-size: 15px;
    }

    .tel {
        margin-top: -15px;
        margin-bottom: 10px;
        height: 50px; 
    }
    
    .tel input {
        font-size: 12px;
    }

    .no-thanks {
        font-size: 15px;
    }

    .tel input::placeholder {
        font-size: 17px;
    }

    .modal-right {
        margin-top: -12px;
    }

}

@media (max-width:800px) {

    .modal {
        width: 680px;
        height: 460px;
        margin-left: 100px;
        margin-top: 10px;
    }

    .modal-right h1,h2 {
        font-size: 15px;
    }

    p.by-submitting {
        font-size: 10px;
      }
    
    .minigold-logo {
       position: absolute;
       top: 400px;
       right: 120px;
       font-size: 20px;
    }

    .modal-right button {
        margin-bottom: 0px;
    }

    .modal-right button p{
        font-size: 10px;
    }

    .tel {
        margin-top: -30px;
        margin-bottom: 10px;
        height: 35px; 
    }
    
    .tel input {
        font-size: 12px;
    }

    .no-thanks {
        font-size: 15px;
    }

    .tel input::placeholder {
        font-size: 13px;
    }

    .modal-right {
        margin-top: -25px;
    }

}

@media (max-width:500px) {

    .close-mark {
        font-size: 25px;
        margin-right: 10px;
        margin-top: 7px;
        cursor: pointer;
    }

    .modal {
        flex-direction: column;
        width: 500px;
        height: 800px;
        margin-left: 0;
        margin-top: -82px;
    }

    .modal-left img {
        width: 100%;
        height: 320px;
    }
    
    .modal-left {
        flex-basis: 40%;
    }

    .modal-right {
        flex-basis: 60%;
        padding-right: 23px;
        padding-left: 23px;
        padding-top: 0;
        margin-top: -20px;
    }

    .minigold-logo {
        top: 270px;
        right: 230px;
        font-size: 20px;
    }

    .modal-right button {
        margin-bottom: 8px;
    }

    .modal-right button p{
        font-size: 13px;
    }

    .tel {
        margin-top: -15px;
        margin-bottom: 10px;
        height: 50px; 
    }
    
    .tel input {
        font-size: 15px;
        margin-left: 70px;
    }

    .no-thanks {
        font-size: 15px;
    }

    .tel input::placeholder {
        font-size: 17px;
    }
}


@media (max-width:400px) {

    .modal {
        flex-direction: column;
        width: 400px;
        height: 800px;
        margin-left: 0;
        margin-top: -82px;
    }

    .modal-left img {
        width: 100%;
        height: 320px;
    }
    
    .modal-left {
        flex-basis: 40%;
    }

    .modal-right {
        flex-basis: 60%;
        padding-right: 23px;
        padding-left: 23px;
        padding-top: 0;
        margin-top: -20px;
    }

    .minigold-logo {
        top: 270px;
        right: 160px;
        font-size: 20px;

    }

    .modal-right button {
        margin-bottom: 8px;
    }

    .modal-right button p{
        font-size: 13px;
    }

    .tel {
        margin-top: -15px;
        margin-bottom: 10px;
        height: 50px; 
    }
    
    .tel input {
        font-size: 15px;
        margin-left: 60px;
    }

    .no-thanks {
        font-size: 15px;
    }

    .tel input::placeholder {
        font-size: 17px;
    }

    .close-mark {
       position: absolute;
       right: 2px;
    }
}