

.hero-text {
    font-family:"Overpass", sans-serif;
    position: absolute;
    top: 420px;
    left: 400px;
    text-align: center;

}

.big-text {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.small-text {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.heroDots button {
    font-family:"Overpass", sans-serif;
    position: absolute;
    top: 720px;
    left: 620px;
    border: 1px solid rgb(246, 155, 170);
    outline: none;
    background: rgb(246, 155, 170);
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    
}

.heroDots button:hover {
    background: white;
    color:rgb(246, 155, 170);
}

.hero-dots {
    margin-top: -30px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    
}

.hero-dot {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 7.5px;
    cursor: pointer;

}

.orange {
    background: pink
}