.footer {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   background: pink;
   font-family: "IBM Plex Serif", serif;
}

.upper {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;

}

.email {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    justify-content: space-between;
}

.email i {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
}


.down {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.detail {
    display: flex;
    gap: 20px;
}

hr {
    width: 90%;
    height: 1px;
    outline: none;
    border: none;
    background: black;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.aboutUs p,.detail p {
    width: fit-content;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}

.aboutUs p:hover,.detail p:hover {
    border-color: black;
    color: rgb(63, 63, 63);
}

.adress {
    border-bottom: 1px solid black;
    width: fit-content;
    cursor: pointer;
    transition: color 0.3s;

}

.adress:hover,.social-media i:hover {
    color: rgb(63, 63, 63);
}

.aboutUs {
    display: flex;
    flex-direction: column;
}

.detail-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media {
    margin-top: 30px;
    display: flex;
    gap: 18px;
    font-size: 20px;
}

.social-media i {
    cursor: pointer;
    transition: color 0.3s;
}

@media (max-width: 1024px) {
    .upper {
        padding: 30px 40px;
    }

    .detail {
        gap: 10px;   
    }

    hr {
        width: 95%;
    }

    .down {
        padding: 0 27px;
    }
}

@media (max-width: 800px) {

    .upper {
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 40px;
    }

    .detail {
        gap: 10px;   
        margin-right: -80px;
        width: min-content;
    }

    .email {
        width: 270px;
    }

    hr {
        width: 95%;
    }

    .down {
        padding-right: 110px;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .upper {
        display: flex;
        padding: 0px;
        flex-direction: column;
    }

    .Newsletter{
        background: ivory;
        padding-bottom: 20px;
    }

    .contactUs {
        padding-bottom: 20px;
    }

    .Newsletter, .aboutUs {
        border-bottom: solid 1px rgb(138, 138, 138)
    }

   .Newsletter, .aboutUs, .contactUs{
       padding-left: 20px;
       padding-top: 10px;
    }

   .email {
       background: white;
       width: 80%;
    }
 
    hr {
        width: 100%;
        background: rgb(138, 138, 138);
    }

    .down p{
      font-size: 12px;
    }
    
    .down {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .detail {
        width: max-content;
    }
}
