.popular {
   display: flex;
   flex-direction: column;
   
}

.best-seller {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.best-seller p {
    font-family: "Cairo", sans-serif;
    font-size: 35px;
    margin-left: 20px;
    font-weight: 600;
}

.arrow {
    display: flex;
    font-size: 50px;
    gap: 20px;
    margin-right: 20px;
    color:rgb(246, 155, 170);
}

.arrow i {
    cursor: pointer;
}

.gallery { 
    display: flex;
    overflow-x: scroll;
    gap: 10px;  
    margin: 10px;
    margin-top: 0px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}


.gallery .popular-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none; 
}

.gallery::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1280px) {

     .popular .best-seller p {
         font-size: 40px;
     }
     
     .arrow i{
         font-size: 45px;
     }
}


@media (max-width: 1024px) {

    .popular .best-seller p {
        font-size: 35px;
    }

    .arrow i{
        font-size: 42px;
    }
}


@media (max-width: 800px) {

    .popular .best-seller p {
        font-size: 30px;
    }

    .arrow i{
        font-size: 37px;
    }
}


@media (max-width: 500px) {

    .popular .best-seller p {
        font-size: 25px;
    }

    .arrow i{
        font-size: 32px;
    }
}

